# Compiled object files
*.o
*.obj

# Executables
a.out
*.exe
*.out
*.elf

# Dependency files
*.d

# Debug files
*.gch
*.gcno
*.gcda
*.gcov

# AddressSanitizer logs
asan.log

# Valgrind output
valgrind-out.*

# Editor/IDE configs
.vscode/
*.code-workspace
*.swp
*.swo
*~

# Build directories
obj/
build/
bin/

# Libft or third-party libraries (optional)
includes/libft/libft.a

# Ignore main.c
main.c
